*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

body{
    background-color: black;
    user-select: none;
}
h1{
    color:deeppink;
    text-align: center;
    
}
.project{margin:20px;
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;
flex-wrap: wrap;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-wrap: wrap;
}
.menu p{
    margin: 10px 20px ;
    background-color: rgb(158, 15, 151);
    color: white;
    font-weight: 700;
    padding: 5px 10px;
    width: 60px;
    text-align: center;
    cursor: pointer;
    border-radius: 9px;
 
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}


.images img{ width:30%; max-width: 100%; margin: 12px; height:150px; border-radius: 9px; 
    
}



p.active{
    background-color: rgb(238, 115, 180);
    color: black;
}




@media(max-width:360px){
    .images img{
        width: 100%;
    }
}